<a href="https://colab.research.google.com/github/hack2050/Exercises/blob/main/ExerciseData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install xlrd

Requirement already satisfied: xlrd in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.2.0)

In [ ]:
import pandas as pd

In [ ]:
# Read data from CSV file

csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)

In [ ]:
# Read data from CSV file
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [ ]:
# Read data from Excel File and print the first five rows

xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

df = pd.read_excel(xlsx_path)
df.head()

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [ ]:
# Read data from Excel File and print the first five rows
xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'
df = pd.read_excel(xlsx_path)

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [ ]:
# Access to the column Length

x = df[['Length']]
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [ ]:
# Get the column as a series

x = df['Length']
x

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
4    0:46:33
5    0:43:08
6    1:15:54
7    0:40:01
Name: Length, dtype: object

In [ ]:
x = df[['Album']]
x

                             Album
0                         Thriller
1                    Back in Black
2        The Dark Side of the Moon
3                    The Bodyguard
4                  Bat Out of Hell
5  Their Greatest Hits (1971-1975)
6             Saturday Night Fever
7                          Rumours

In [ ]:
x = df['Album']
x

0                           Thriller
1                      Back in Black
2          The Dark Side of the Moon
3                      The Bodyguard
4                    Bat Out of Hell
5    Their Greatest Hits (1971-1975)
6               Saturday Night Fever
7                            Rumours
Name: Album, dtype: object

In [ ]:
x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [ ]:
# Get the column as a series

y = df[['Artist','Length', 'Genre']]
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

In [ ]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

In [ ]:
df.iloc[1, 0]

'AC/DC'

In [ ]:
df.iloc[2, 0]

'Pink Floyd'

In [ ]:
df.iloc[7, 0]

'Fleetwood Mac'

In [ ]:
df.iloc[0, 2]

1982

In [ ]:
df.iloc[1, 2]

1980

In [ ]:
# Access the column using the name

df.loc[0, 'Artist']

'Michael Jackson'

In [ ]:
df.loc[1, 'Artist']

'AC/DC'

In [ ]:
df.loc[2, 'Artist']

'Pink Floyd'

In [ ]:
df.loc[3, 'Artist']

'Whitney Houston'

In [ ]:
# Access the column using the name

df.loc[0, 'Released']

1982

In [ ]:
df.loc[1, 'Released']

1980

In [ ]:
df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [ ]:
z = df.iloc[0:2, 0:3]

In [ ]:
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [ ]:
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [ ]:
df.iloc[1, 2]

1980

In [ ]:
new_index=['a','b','c','d','e','f','g','h']

In [ ]:
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc ['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object